*{
    padding:0;
    margin:0;
    color:white;
    text-shadow: 1em #fff;
    
}




@media (max-width:  320.97px) {

     body{
        margin:0;
        padding:0;
        overflow-x:hidden;
        -moz-overflow-x:hidden;
        -webkit-overflow-x:hidden;

        font-family:;
        

        background: rgb(34,36,40);
        background: linear-gradient(180deg, rgba(34,36,40,1) 7%, rgba(0,158,214,1) 48%, rgba(0,189,252,1) 70%);

        background-repeat:no-repeat;
        min-height: 2500px;
        min-width:100%;



        
    }

    html{
        border:1px soli red;
       
        

        
    }

    .container-fluid{
        margin: 0;
        padding:0;
        min-width:100%;


        
    }

    #container1{
        display: none;
    }

    #chamada-1{
        position: relative;
        top:-1.7em;

    }

    @keyframes desce{

        from {
          transform: translateY(-1000px);
        }
        to {
          transform: translateY(0);
        }
    } 

    #header-1{
       font-size: 2em;
       padding: 1em 0em;
       font-family: Impact;
       text-shadow: 2em  white;
       animation: desce 1s;

    }

     

    @keyframes diminuilogo{
        from {
          transform: scale(2);;
        }
        to {
          transform: scale(0.5);;
        }
    }



    #logo-marca{
        max-width:8em;


    }





    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }

    }

    #img-dispositivos{
        position: relative;
        top:-7em;
        min-height: 23em;
        min-width: 120%;
        position: relative;
        left:-2em;
        top:-8em;
        animation: fadein 3s;
    }

    

    @keyframes direita{

        from {
          transform: translateX(-1000px);
        }
        to {
          transform: translateX(0);
        }
    } 

    #img-abstrato-direita{
        position: relative;
        top:-30em;
        left:-3em;
        z-index: -1;
        animation: direita 3s alternate;
    }






   

    @keyframes esquerda{

        from {
          transform: translateX(1000px);
        }
        to {
          transform: translateX(0);
        }
    } 

     #img-abstrato-esquerda{
        position: relative;
        top:-47.5em;
         animation: esquerda 5s alternate;

    }

    #dialogo-cookies{
        
       
    }

    small{
        font-size: 0.7em;
        overflow:scroll;
        width: 50px;
        position: relative;
        top:-1em;
    }

    #btn-aceita-termos-privacidade{
        font-size: 0.8em;
        display: block;
        position: relative;
        top:-2.5em;
        left:-2em;
    }

    #btn-recusa-termos-privacidade{
        font-size: 0.8em;
        display: block;
        position: relative;
        top:-2em;
        left:-7em;
    }

    #div-formulario{
        max-width: 90%;
        min-height: 600px;
        /* From https://css.glass */
        background: rgba(180, 73, 255, 0.27);
        border-radius: 16px;
        
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(180, 73, 255, 0.3);

        position: relative;
        top:-52em;
        left:1em;

        box-shadow: 2px 4px;
       
        display: none;
    }

    #texto-auxiliar-form{
        white-space: nowrap;
        padding: 0.5em;
    }
    
    
    
}

@media (min-width: 361px) and (max-width:  375.97px){
    

}

@media (min-width: 376px) and (max-width:  428.98px) {

    

}